body {
    color: whitesmoke;
    background-position: no-repeat;
    background-image: url(https://live.staticflickr.com/5763/20825075904_4d1195a82c_b.jpg);
}

header {
    text-align: center;
    font-family: Luminari, fantasy;
    padding: 1px;
    background-color: #ff2e2ef3;
    color: whitesmoke;
    margin: 17vh;
    border: whitesmoke;
    border-radius: 52px;
    text-shadow: white;

}

#search-form {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.719);
    color: whitesmoke;
    border: whitesmoke;
    border-radius: 70px;
    padding: 1vh;
    margin: 5vh;
    text-shadow: whitesmoke;
    font-weight: 100;
}

#submit {
    background-color: whitesmoke;
    text-align: center;
    padding: 8px;
    width: 100px;
    margin-top: 5px;
    border-radius: 11px;
    border-width: 5px;
    border: rgba(0, 0, 0, 0.650);
    font-weight: 550;
}

.wrapper {
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.returned {
    padding: 28px;
    margin: 5px;
    color: black;
    background-color: rgba(245, 245, 245, 0.863);
    border-radius: 5px;
}



